@font-face {
    font-family: "Claire";
    src: url(https://kame.li/claire.ttf);
}

body {
    font-family: "Claire";
    background-color: rgb(241, 244, 247);
}

h1 {
    font-weight: 200;
}

@media (min-width: 858px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 624px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 12px;
    }
}